name: goreleaser

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build_release:
    name: Build & Release
    runs-on: macos-latest
    steps:
    - name: Check out code
      uses: actions/checkout@master
      with:
        fetch-depth: 0
    - name: Unshallow
      run: git fetch --prune --unshallow
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14       
    - name: goreleaser with tag
      uses: goreleaser/goreleaser-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB }}
      with:
        version: latest
        args: release --rm-dist --skip-validate
